<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Open House</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Open House need  Media Library Permission.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Open House Media would like to use Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Enabling camera and photo library access will allowed you to update your listings and events photos. This will also allow you to upload and update your profile photo</string>
	<key>NSContactsUsageDescription</key>
	<string>Open House would you like to use Contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Open House  would like to detect user location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Open House  would like to detect user location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>OpenHouse would like to use your microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Open House would like to use motion.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enabling camera and photo library access will allowed you to update your listings and events photos. This will also allow you to upload and update your profile photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enabling camera and photo library access will allowed you to update your listings and events photos. This will also allow you to upload and update your profile photo</string>
	<key>NSSiriUsageDescription</key>
	<string>Open House would like to use Siri.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Open House would like to record user voice.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Billabong.ttf</string>
		<string>BodoniFLF-Italic.ttf</string>
		<string>ITC-Franklin-Gothic-LT-Demi-Condensed.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
